@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color-scheme: dark;
  background-image: radial-gradient(circle at 1px 1px, #5050507a 1px, transparent 0);
  background-size: 30px 30px;
}