@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color-scheme: dark;
  background-image: radial-gradient(circle at 2px 2px, #5050507a 2px, transparent 0);
  background-size: 40px 40px;
}